<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<system.web>
		<httpRuntime maxRequestLength="900000000" executionTimeout="9000000" />
		<customErrors mode="On" defaultRedirect="~/Error/General">
			<error redirect="~/Home/Error" statusCode="403" />
			<error redirect="~/Home/Error" statusCode="404" />
			<error redirect="~/Home/Error" statusCode="500" />
		</customErrors>

	</system.web>

	<system.webServer>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="900000000" maxQueryString="9000000" />
			</requestFiltering>
		</security>

		<httpErrors errorMode="Custom" existingResponse="Replace">
			<remove statusCode="403" />
			<remove statusCode="404" />
			<remove statusCode="500" />
			<error
			  statusCode="403"
			  path="/Home/Error"
			  responseMode="ExecuteURL" />
			<error
			  statusCode="404"
			  path="/Home/Error"
			  responseMode="ExecuteURL" />
			<error
			  statusCode="500"
			  path="/Home/Error"
			  responseMode="ExecuteURL" />
		</httpErrors>
	</system.webServer>

  <!-- To customize the asp.net core module uncomment and edit the following section. 
  For more info see http://go.microsoft.com/fwlink/?linkid=838655 -->
  <!--
  <system.webServer>
    <handlers>
      <remove name="aspNetCore"/>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
  </system.webServer>
  -->
	
</configuration>