@{
Layout = null;
}
@*@if (TempData["HTML-visible"].ToString() == "0")
{*@
<html lang="vi">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>C# | Asp Net Core | Công nghệ thông tin</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/MyWebPlay.styles.css" asp-append-version="true" />
        <link rel="icon" href="/images/imagex.png">
    </head>
    <body name="backgroundX" style="background-color:@TempData["mau_background"]">
    <meta charset="ISO-8859-1">
    <script>
        var t = 0;
        setInterval(function(){
            
            if (t == 1)
            return;
        
            var fr = document.getElementById("frameplay");
            var url = '@ViewBag.Link';
            url = url.replaceAll("&lt;","<").replaceAll("&gt;",">");
            fr.src = url;
            fr.style.minWidth = "100%";
            fr.style.minHeight = "100%";
            fr.style.position = "fixed";
            fr.style.right = "0";
            fr.style.bottom = "0";
        
            t = 1;
         },10);
    </script>
    <iframe id="frameplay"></iframe>
    </body>
</html>
@*}*@