html {
  font-size: 14px;
}

.video-overlay {
    position: absolute;
    z-index: 2;
    position: relative;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial;
    font-size: 17px;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}

/*---------------------------------------------*/

/* Safari syntax */
:-webkit-full-screen {
    background-color: white;
}

/* IE11 */
:-ms-fullscreen {
    background-color: white;
}

/* Standard syntax */
:fullscreen {
    background-color: white;
}

#txtKaraoke1 {
    font-weight: bold;
    font-size: 80px;
}

#txtKaraoke2 {
    font-weight: bold;
    font-size: 80px;
}

.divOnTop {
    color: #FFFFFF;
    left: 0px;
    height: 90px;
    width: 50%;
    background-color: yellow;
    /* Text Always Center */
    line-height: 26px;
    /* position on bottom */
    top:0px;
    /* Thay: bottom: 0px; = top: 0px; neu muon o tren dau trang */
    position: fixed;
    z-index: 100;
    /* transparent background */
    opacity: .75;
    filter: alpha(opacity=75);
    -moz-opacity: 0.75;
}

.word {
    position: relative;
    white-space: nowrap;
    color: var(--colox, #efe6e6);
    text-shadow: 0 0 3px rgba(0,0,0,1);
}

    .word::after {
        content: attr(data-content);
        position: absolute;
        left: 0;
        top: 0;
        color: var(--color, #2900f5);
        overflow: hidden;
        width: 100%;
        animation: run-text 5s infinite linear;
        animation-duration: var(--animation, 10s);
        animation-iteration-count: 1;
        text-shadow: 0 0 3px rgba(255,255,255,1);
    }

#txtKaraoke1 {
    font-family: "Times New Roman", Times, serif;
}

#txtKaraoke2 {
    font-family: "Times New Roman", Times, serif;
}

.work {
    position: relative;
    white-space: nowrap;
    color: var(--colox, #efe6e6);
    text-shadow: 0 0 3px rgba(0,0,0,1);
}

    .work::after {
        content: attr(data-content);
        position: absolute;
        left: 0;
        top: 0;
        color: var(--color, #2900f5);
        overflow: hidden;
        width: 100%;
        animation: run-text 5s infinite linear;
        animation-duration: var(--animation);
        animation-iteration-count: 1;
        text-shadow: 0 0 3px rgba(255,255,255,1);
    }

@keyframes run-text {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}