@{
    Layout = null;
}

<html lang="vi">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <title>C# | Asp Net Core | Công nghệ thông tin</title>
    <link rel="icon" href="/images/imagex.png">
 <style>

 .video-overlay{
 position:absolute;
z-index: 2;
    position: relative;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
  font-size: 17px;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}

.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

</style>
<script>

    function accept(i)
    {
        window.location.href = "/Home/AcceptContinue?id="+i;
    }

    function show()
    {
        var s = "";
        for (var i = 0; i <=9999; i++)
        {
            var x = "";

            if (i.toString().length == 1)
            x = "000"+i;
             else
            if (i.toString().length == 2)
            x = "00"+i;
             else
            if (i.toString().length == 3)
            x = "0"+i;
            else
            x= ""+i;

            s += "<button onclick=\"accept("+i+")\">"+x+"</button> ";
        }
        document.getElementById("ok").style.display = "none";
        document.getElementById("maika").innerHTML = s;
    }

 </script>
 <button onclick="show()" id="ok" style="color:red"><h2>Show List ID Open</h2></button>
 <div id="maika">

 </div>
</head>
</html>