
<table align="center">
    <h2 style="text-align:center">File Question/Answer Theo Hệ Thống (dành cho admin hoặc các user hiểu biết chức năng)</h2>

    <h3 style="color:yellow">@Html.Raw(ViewBag.KetQua)</h3>

    <br />

   
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)

            <tr style="height:40px">
                <td></td>
                <td>
                    <br>
                        <b>Dán bài question/answer của bạn tại đây (xem ví dụ tương đương) :</b>
                        <br>
                            <b style="color:yellow">Để tránh trường hợp có thể xảy ra, tốt nhất bạn nên lưu và thực hiện nội dung question answer đâu đó trên local và sao chép chúng thông qua vào trường điền dưới đây...</b>
                            <br>
                    <textarea rows="20" cols="150" name="txtChuoi" autofocus>@ViewBag.ChuoiVD</textarea>
                </td>
            </tr>

            <tr style="height:40px">
                <td></td>
                <td>
                    <input type="Submit" value="Kết Quả" />
                </td>
            </tr>
    }

</table>
