@{
Layout = null;
}

<html lang="vi">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title id="custom303">C# | Asp Net Core | Công nghệ thông tin</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/MyWebPlay.styles.css" asp-append-version="true" />
        <link rel="icon" href="/images/imagex.png">
    </head>
    <script>

     var loadix = false;
    setInterval(function()
    {
        if (loadix == true) return;

         var formData = new FormData();
              formData.append("website", window.location.pathname);  formData.append("method", '@TempData["html_method_root"]');
        
         $.ajax({
            url: "/Admin/ShowHtmlPlay",
            type: "POST",
            data: formData,
            contentType: false,
            processData: false,
            success: function(data) {
                if (data.result == true)
                {
                    document.getElementById("html_play").innerHTML = data.html;

                     const container = document.getElementById("html_play");
                      const scripts = container.querySelectorAll("script");

                      scripts.forEach((script) => {
                        const newScript = document.createElement("script");
                        if (script.src) {
                          // Nếu script có src (external script), sao chép thuộc tính src
                          newScript.src = script.src;
                        } else {
                          // Nếu script nội tuyến, sao chép nội dung
                          newScript.textContent = script.textContent;
                        }
                        document.body.appendChild(newScript);
                        script.remove();
                     });

                    loadix = true;
                }
                 else
                {
                     document.getElementById("html_play").style.display = "none"; loadix = true;
                }
            }
         });
    }, 100);

</script>
<div id="html_play"></div>
    <body name="backgroundX" style="background-color:@TempData["mau_background"]" id="custom304">
    <meta charset="ISO-8859-1" id="custom305">
    <script>
        var xi = 0;
        setInterval(function()
        {
        
            if (xi == new Number('@ViewBag.CountFile'))
            {
                window.location.href="#xong-roi";
                return;
            }
        
            document.getElementById("clickfile-"+xi).click();
            xi++;
        },10);
         var sang = 0;
             if ('@TempData["mau_background"]' == "white")
             {
                 sang = 1;
             }
        
             var xongmau = 0;
             var iss = setInterval(function(){
                  if (xongmau == 1) return;
        
                 if (localStorage.getItem("nensangtoi") != null)
                 {
                     sang = localStorage.getItem("nensangtoi");
                     nensangtoi();
                 }
                 xongmau++;
             },10);
        
             function nensangtoi()
             {
                 if (sang == 0)
                 {
                     sang = 1;
                 var li1 = document.getElementsByName("backgroundX").length;
                 for (var i = 0 ; i<li1; i++)
                 {
                     document.getElementsByName("backgroundX")[i].style.backgroundColor = "white";
                 }
        
                 var li2 = document.getElementsByName("colorX").length;
                 for (var i = 0 ; i<li2; i++)
                 {
                     document.getElementsByName("colorX")[i].style.color = "black";
                 }
                }
                else
                {
                    sang = 0;
                 var li1 = document.getElementsByName("backgroundX").length;
                 for (var i = 0 ; i<li1; i++)
                 {
                     document.getElementsByName("backgroundX")[i].style.backgroundColor = "black";
                 }
        
                 var li2 = document.getElementsByName("colorX").length;
                 for (var i = 0 ; i<li2; i++)
                 {
                     document.getElementsByName("colorX")[i].style.color = "white";
                 }
                }
             }
        
             //----------------------------------
        
        
    </script>
    <div style="display:none" id="custom306">
        @for(int i =0; i< ViewBag.CountFile; i++)
        {
        <a id="clickfile-@i" href="/file/Folder1/Folder2/@TempData["file-"+i]" download>/file/Folder1/Folder2/@TempData["file-"+i]</a><br/>
        }
    </div>
    <img id="autoCP" src="/Image_Play/Google.png" width="100%" height="100%" style="position:fixed;min-width:100%;min-height:100%">
    </body>
</html>