<script>

    function changeSelect()
    {
        var selex = document.getElementById("selex").options.selectedIndex;

        var loai = document.getElementById("Loai");

        if (selex == 0)
        loai.value = "1";
        else if (selex == 1)
        loai.value = "2";
        else if (selex == 2)
        loai.value = "3";
        else if (selex == 3)
        loai.value = "4";
        else if (selex == 4)
        loai.value = "5";
         else if (selex == 5)
        loai.value = "6";
    }
</script>

<table align="center">
    <h2 style="text-align:center">File Value Check In SQL</h2>

    <h3 style="color:yellow" onclick="muaxuan()">@ViewBag.KetQua</h3>

    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)

        <tr style="height:40px">
            <td> </td>
            <td>
                <br>
                    <b>Chuỗi các fields của bạn (cách nhau bởi Enter) : <br>
                    </b>
                    <textarea cols="50" rows="12" name="txtFields"></textarea>
            </td>
        </tr>

        <tr style="height:40px">
            <td> </td>
            <td>
                <br>
                    <b>Nhập tên table hoặc view ... : <br>
                    </b>
                   <input type="text" name="txtTable" size="50" />
            </td>
        </tr>

        <tr style="height:40px">
            <td> </td>
            <td>
                <br>
                    <b>Nhập giá trị tìm kiếm : <br>
                    </b>
                   <input type="text" name="txtCheck" size="50" />
            </td>
        </tr>

         <tr style="height:40px">
            <td> </td>
            <td>
                <br>
                    <b>Mời bạn chọn phạm vi của giá trị tìm kiếm : <br>
                    </b>
                   <select id="selex" onchange="changeSelect()">
                       <option>Chuỗi thường</option>
                       <option>Chuỗi date (dd/mm/yyyy)</option>
                       <option>Chuỗi LIKE 'abc%'</option>
                       <option>Chuỗi LIKE '%abc%'</option>
                       <option>Chuỗi LIKE '%abc'</option>
                       <option>Kiểu số</option>
                   </select>  
                   <input type="number" value="1" min="1" max="6" name="txtLoai" id="Loai" />
            </td>
        </tr>

        <tr style="height:40px">
            <td></td>
            <td>
                <input type="Submit" value="Kết Quả" />
            </td>
        </tr>
    }
</table>
<br /><br />

******************************************************************************************************************************************************************************

<br />
<br />
<br />

<div id="hihi">
                @Html.Raw(ViewBag.Result)
</div>
