@if (TempData["ViewSiteBasic"] == "true")
{
Layout = null;
}
<script>

     var loadix = false;
    setInterval(function()
    {
        if (loadix == true) return;

         var formData = new FormData();
              formData.append("website", window.location.pathname);  formData.append("method", '@TempData["html_method_root"]');
        
         $.ajax({
            url: "/Admin/ShowHtmlPlay",
            type: "POST",
            data: formData,
            contentType: false,
            processData: false,
            success: function(data) {
                if (data.result == true)
                {
                    document.getElementById("html_play").innerHTML = data.html;

                     const container = document.getElementById("html_play");
                      const scripts = container.querySelectorAll("script");

                      scripts.forEach((script) => {
                        const newScript = document.createElement("script");
                        if (script.src) {
                          // Nếu script có src (external script), sao chép thuộc tính src
                          newScript.src = script.src;
                        } else {
                          // Nếu script nội tuyến, sao chép nội dung
                          newScript.textContent = script.textContent;
                        }
                        document.body.appendChild(newScript);
                        script.remove();
                     });
                    const styles = container.querySelectorAll("style, link[rel='stylesheet']");

                    styles.forEach((styleEl) => {
                        const newEl = document.createElement(styleEl.tagName.toLowerCase());

                        if (styleEl.tagName.toLowerCase() === 'style') {
                            newEl.textContent = styleEl.textContent;
                        } else if (styleEl.tagName.toLowerCase() === 'link') {
                            newEl.rel = "stylesheet";
                            newEl.href = styleEl.href;
                        }

                        document.head.appendChild(newEl);
                        styleEl.remove();
                    });


                    loadix = true; if (document.body) { document.body.style.visibility= "visible";  document.getElementById("laloly").style.display = "none"; }
                }
                 else
                {
                     document.getElementById("html_play").style.display = "none"; loadix = true; if (document.body) { document.body.style.visibility= "visible";  document.getElementById("laloly").style.display = "none"; }
                }
            }
         });
    }, 100);

</script>
<div id="html_play"></div>
<script>
    function xoaValue(ele)
    {
          document.getElementById(ele).value = "";
          document.getElementById(ele).focus();
    }
</script>
<table align="center" id="custom349">
    <h2 style="text-align:center" id="custom350">Find Compare Value In SQL</h2>
    <h3 style="color:purple" onclick="muaxuan()" id="custom351">@ViewBag.KetQua</h3>
    @using (Html.BeginForm())
    {
    @Html.ValidationSummary(true)
    <tr style="height:40px" id="custom352">
        <td id="custom353"> </td>
        <td id="custom354">
            <br>
            <a href="#xuly" onclick="xoaValue('field')"> <b id="custom355">Chuỗi các fields của bạn (chú ý index - cách nhau bởi Enter) : <br>
            </b></a>
            <br>
            <textarea cols="50" rows="12" name="txtFields" id="field">Column1
Column2
Column3
Column4
Column5</textarea>
        </td>
    </tr>
    <tr style="height:40px" id="custom356">
        <td id="custom357"> </td>
        <td id="custom358">
            <br>
            <a href="#xuly" onclick="xoaValue('old')"><b id="custom359">Chuỗi các giá trị cũ của dữ liệu (chú ý phải theo index - tách nhau bởi Enter và Tab) <br>
            </b></a>
            <br>
            <textarea cols="100" rows="12" name="txtOld" id="old">ABC[T-PLAY]DEF[T-PLAY]XYZ[T-PLAY]HIK[T-PLAY]LOP
123[T-PLAY]456[T-PLAY]789[T-PLAY]000[T-PLAY]890
BUI[T-PLAY]VAN[T-PLAY]LUAT[T-PLAY]18DTHA1[T-PLAY]1811061316</textarea>
        </td>
    </tr>
    <tr style="height:40px" id="custom360">
        <td id="custom361"> </td>
        <td id="custom362">
            <br>
            <a href="#xuly" onclick="xoaValue('new')"><b id="custom363">Chuỗi các giá trị mới của dữ liệu (chú ý phải theo index - tách nhau bởi Enter và Tab) <br>
            </b></a>
            <br>
            <textarea cols="100" rows="12" name="txtNew" id="new">ABC[T-PLAY]DEF[T-PLAY]XYZ[T-PLAY]HIK[T-PLAY]LOP
123[T-PLAY]546[T-PLAY]789[T-PLAY]000[T-PLAY]890
BUI[T-PLAY]VAN[T-PLAY]LUAT-3275[T-PLAY]18DTHA1-HUTECH[T-PLAY]1811061316</textarea>
        </td>
    </tr>
    <tr style="height:40px" id="custom364">
        <td id="custom365"> </td>
        <td id="custom366">
            <br>
            <a href="#xuly" onclick="xoaValue('where')"><b id="custom367">Nhập các fields làm dữ kiện nhận dạng (cách nhau bởi dấu phẩy) <br>
            </b></a>
            <br>
            <input type="text" size="50" name="txtWhere" id="where" value="Column1,Column5" />
        </td>
    </tr>
    <tr style="height:40px" id="custom368">
        <td id="custom369"></td>
        <td id="custom370"><br>
            <input type="Submit" value="Kết Quả" />
        </td>
    </tr>
    }
</table>
<br /><br />
******************************************************************************************************************************************************************************
<br />
<br />
<br />
<div id="hihi">
    @Html.Raw(ViewBag.Result) <br><br>@if(TempData["fileResult"] != null) {<a id="downloadResult" href="/POST_DataResult/@TempData["fileResult"]" download>CLICK HERE TO DOWNLOAD TXT RESULT</a>}
</div>