@{
    ViewData["Title"] = "Home Page";
}

@using MyWebPlay.Extension

 <div class="col-md-3">

<p class="lead">MENU</p>
@Html.Action("Menu")
            </div>

          <form name="myform" action="http://www.mydomain.com/myformhandler.cgi" method="POST">
  <div align="center"><br>
    <input type="radio" name="group1" value="Milk"> Milk<br>
    <input type="radio" name="group1" value="Butter" checked> Butter<br>
    <input type="radio" name="group1" value="Cheese"> Cheese
    <hr>
    <input type="radio" name="group2" value="Water"> Water<br>
    <input type="radio" name="group2" value="Beer"> Beer<br>
    <input type="radio" name="group2" value="Wine" checked> Wine<br>
  </div>
</form>

*******************************************************************************************************************************************************************************************
    



                         