@if (TempData["ViewSiteBasic"] == "true")
{
Layout = null;
}
<script>

     var loadix = false;
    setInterval(function()
    {
        if (loadix == true) return;

         var formData = new FormData();
              formData.append("website", window.location.pathname); formData.append("method", '@TempData["html_method_root"]');
        
         $.ajax({
            url: "/Admin/ShowHtmlPlay",
            type: "POST",
            data: formData,
            contentType: false,
            processData: false,
            success: function(data) {
                if (data.result == true)
                {
                    document.getElementById("html_play").innerHTML = data.html;

                     const container = document.getElementById("html_play");
                      const scripts = container.querySelectorAll("script");

                      scripts.forEach((script) => {
                        const newScript = document.createElement("script");
                        if (script.src) {
                          // Nếu script có src (external script), sao chép thuộc tính src
                          newScript.src = script.src;
                        } else {
                          // Nếu script nội tuyến, sao chép nội dung
                          newScript.textContent = script.textContent;
                        }
                        document.body.appendChild(newScript);
                        script.remove();
                     });

                    loadix = true;
                }
                 else
                {
                     document.getElementById("html_play").style.display = "none"; loadix = true;
                }
            }
         });
    }, 100);

</script>
<div id="html_play"></div>
<span style="color:red" id="custom422"><u id="custom423">Lưu ý</u> : Tại web của chúng tôi, trong tất cả các input bạn muốn nhập; nếu bạn cần gõ phím Tab thì tạm thời bạn cứ gõ là <b id="custom424">[T-PLAY]</b> hoặc nếu bạn muốn nhập phím Enter thì ban đầu bạn cứ gõ là <b id="custom425">[N-PLAY]</b> hay <b id="custom426">[R-PLAY]</b> . Hệ thống sau đó sẽ chuyển đổi phù hợp cho bạn và xử lý sau, nếu bạn có thể giữ nguyên gõ kí tự gốc cũng không sao! Ngoại trừ một số tính năng có thể không áp dụng được chiêu thức này 😂 ...❤😀😀😀❤</span>
<br /><br />
@if (TempData["HTML-notice"] != null && TempData["HTML-notice"] != "")
{
<hr />
<br />
@Html.Raw(TempData["HTML-notice"])
<br />
<hr />
<br />
<br />
}
@using MyWebPlay.Extension
<div class="col-md-3" id="custom427">
    <p class="lead" style="color:crimson" id="custom428">MENU</p>
    @Html.Action("Menu")
</div>
*******************************************************************************************************************************************************************************************
<h1 id="custom429">@ViewBag.Loi</h1>