@{
    ViewData["Title"] = "Home Page";
}

@using MyWebPlay.Extension

<button style="color:darkred" onclick="refresh()"/><b>REFRESH ALL SERVER FILE UPLOAD TO DAY (ADMIN)</b></button><br /><br />
 <div class="col-md-3">

<p class="lead">MENU</p>
@Html.Action("Menu")
            </div>

*******************************************************************************************************************************************************************************************
