@{
    ViewData["Title"] = "Home Page";
}

<span style="color:red"><u>Lưu ý</u> : Tại web của chúng tôi, trong tất cả các input bạn muốn nhập; nếu bạn cần gõ phím Tab thì tạm thời bạn cứ gõ là <b>[TAB-TPLAY]</b> hoặc nếu bạn muốn nhập phím Enter thì ban đầu bạn cứ gõ là <b>[ENTER-NPLAY]</b> hay <b>[ENTER-RPLAY]</b> . Hệ thống sau đó sẽ chuyển đổi phù hợp cho bạn và xử lý sau, nếu bạn có thể giữ nguyên gõ kí tự gốc cũng không sao! Ngoại trừ một số tính năng có thể không áp dụng được chiêu thức này 😂 ...❤😀😀😀❤</span>
<br /><br />
@using MyWebPlay.Extension

 <div class="col-md-3">

<p class="lead">MENU</p>
@Html.Action("Menu")
            </div>

*******************************************************************************************************************************************************************************************

<h1>@ViewBag.Loi</h1>