@{
    ViewData["Title"] = "Home Page";
}

@using MyWebPlay.Extension

 <div class="col-md-3">

<p class="lead">MENU</p>
@Html.Action("Menu")
            </div>

*******************************************************************************************************************************************************************************************
    



                         