<div class="list-group">
   <a target="_blank" class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="HD_API">HD_API</a>
                       

                        
                            <a target="_blank" class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="HD_Web_AspNetCore">HD_Web_AspNetCore</a>
                       

                        
                            <a target="_blank" class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="HD_Web_AspNet">HD_Web_AspNet</a>
                       

                        
                            <a target="_blank" class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="CheckText">CheckText</a>
                       
                        
                            <a target="_blank" class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="TextToColumn1">TextToColumn-X1</a>
                       

                        
                            <a target="_blank" class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="TextToColumn2">TextToColumn-X2</a>
                       

                        
                            <a target="_blank" class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="ReadNumber">ReadNumber</a>
                       

                        
                            <a target="_blank" class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="TextConvertX">Text-ConvertX</a>
                       

                        
                            <a target="_blank" class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="CSDL_MainKey">CSDL_MainKey</a>
                       

                        
                            <a target="_blank" class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="SQL_InsertDoc">SQL_InsertDoc</a>
                       

                        
                            <a target="_blank" class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="JSON_InsertDoc">JSON_InsertDoc</a>
                       

                        
                            <a target="_blank" class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="SQL_CreateTable">SQL_CreateTable</a>
                       

                        
                            <a target="_blank" class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Cxap_CreateClass">Cxap_CreateClass</a>
                       
     
                        
                            <a target="_blank" class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Cxap_InsertValueClass">Cxap_InsertValueClass</a>
                       

                        
                            <a target="_blank" class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="String_Reverse">String_Reverse 1</a>
                       

                        
                            <a target="_blank" class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="String_Reverse2">String_Reverse 2</a>
                       

                        
                            <a target="_blank" class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Special_OrderBy">Special_OrderBy</a>
                       

                        
                            <a target="_blank" class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="SpecialX_OrderBy">SpecialX_OrderBy</a>
                       

                        
                            <a target="_blank" class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="String_Split_Regex">String_Split_Regex</a>
                       

                        
                            <a target="_blank" class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Check_Regex">Check_Regex</a>
                       

                        
                            <a target="_blank" class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="ResultCheck_Regex">ResultFindCheck_Regex</a>
                       

                        
                            <a target="_blank" class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Replace_Regex">Replace_Regex</a>
                       


                        
                            <a target="_blank" class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="BangChanTri">Bảng Chân Trị</a>
                       

                        
                            <a target="_blank" class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="TronMau">Trộn Màu</a>
                       

                        
                            <a target="_blank" class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Euler_X">Euler - Đồ thị</a>
                       

                         
                            <a target="_blank" class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="UploadFile">Upload File</a>
                       

                         
                            <a target="_blank" class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="DownloadFile">Download File</a>
                       

                        
                            <a target="_blank"  class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Regex_Replace_Multiple">Regex_Replace_Multiple</a>
                       

                         
                            @*<a target="_blank" class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="TracNghiem">Play-Trắc-Nghiệm</a>*@
                       

                        
                            <a target="_blank" class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="TracNghiemX_Multiple">Play-Trắc-Nghiệm_Multiple</a>
                       

                          
                            <a target="_blank" class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="PlayQuestion_Multiple">PlayQuestion_Multiple</a>
                       

                         
                            <a target="_blank" class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="ViewNoteFile">ViewNoteFile</a>

                             <a target="_blank" class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="PlayKaraoke">Play-Karaoke</a>

                            <a class="nav-link text-light" target="_blank" asp-area="" asp-controller="Home" asp-action="FindValueCheckInSQL">Find-Value-Check-In-SQL</a>

                            <a class="nav-link text-light" target="_blank" asp-area="" asp-controller="Home" asp-action="FindCompareValueInSQL">Find-Compare-Value-In-SQL</a>

                            @* <a class="nav-link text-light" target="_blank" asp-area="" asp-controller="Home" asp-action="SessionPlay">Session Play</a>*@
                       
</div>
