<script>
    var t = 3;
    var id = setInterval(myAlert, 1000);
     function myAlert()
     {
         t--;
         document.getElementById("so").innerHTML = t;

         if (t == 0)
         {
              clearInterval(id);
             document.getElementById("subx").click();
         }
     }
</script>

<table align="center">
    <h1 id="so" style="text-align:center; color:yellow">3</h1><br />
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)

        <tr style="height:40px">
            <td></td>
            <td><br>
                <textarea hidden cols="100" rows="5" name="locFile" readonly>@ViewBag.NoxDux</textarea>
            </td>
        </tr>
      
        <tr style="height:40px">
            <td></td>
            <td><br>
                <input hidden id="subx" type="Submit" value="Kết Quả" />
            </td>
        </tr>
    }
</table>
<br /><br />
