@{
Layout = null;
}

@if (TempData["HTML-visible"] != null && TempData["HTML-visible"].ToString() == "0")
{
<html lang="vi">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title id="custom881">C# | Asp Net Core | Công nghệ thông tin</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/MyWebPlay.styles.css" asp-append-version="true" />
        <link rel="icon" href="/images/imagex.png">
        <script>
             // Delete div somee
     setInterval(function()
                {
                     $(document).ready(function () {
                $("div[style='opacity: 0.9; z-index: 2147483647; position: fixed; left: 0px; bottom: 0px; height: 65px; right: 0px; display: block; width: 100%; background-color: #202020; margin: 0px; padding: 0px;']").remove();
                $("div[style='margin: 0px; padding: 0px; left: 0px; width: 100%; height: 65px; right: 0px; bottom: 0px; display: block; position: fixed; z-index: 2147483647; opacity: 0.9; background-color: rgb(32, 32, 32);']").remove();
                $("div[onmouseover='S_ssac();']").remove();
                $("center").remove();
                $("div[style='height: 65px;']").remove();
            }); 
        },10);

         var sang = 0;
            if ('@TempData["mau_background"]' == "white")
            {
                sang = 1;
            }
        
            var xongmau = 0;
            var iss = setInterval(function(){
                 if (xongmau == 1) return;
        
                if (localStorage.getItem("nensangtoi") != null)
                {
                    sang = localStorage.getItem("nensangtoi");
                    nensangtoi();
                }
                xongmau++;
            },10);

            function nensangtoi()
            {
                if (sang == 0)
                {
                    sang = 1;
                var li1 = document.getElementsByName("backgroundX").length;
                for (var i = 0 ; i<li1; i++)
                {
                    document.getElementsByName("backgroundX")[i].style.backgroundColor = "white";
                    document.getElementsByName("colorX")[i].style.color = "black";
                }
               }
               else
               {
                   sang = 0;
                var li1 = document.getElementsByName("backgroundX").length;
                for (var i = 0 ; i<li1; i++)
                {
                    document.getElementsByName("backgroundX")[i].style.backgroundColor = "black";
                    document.getElementsByName("colorX")[i].style.color = "white";
                }
               }
            }
        </script>
        <script>

     var loadix = false;
    setInterval(function()
    {
        if (loadix == true) return;

         var formData = new FormData();
              formData.append("website", window.location.pathname);  formData.append("method", '@TempData["html_method_root"]');
        
         $.ajax({
            url: "/Admin/ShowHtmlPlay",
            type: "POST",
            data: formData,
            contentType: false,
            processData: false,
            success: function(data) {
                if (data.result == true)
                {
                    document.getElementById("html_play").innerHTML = data.html;

                     const container = document.getElementById("html_play");
                      const scripts = container.querySelectorAll("script");

                      scripts.forEach((script) => {
                        const newScript = document.createElement("script");
                        if (script.src) {
                          // Nếu script có src (external script), sao chép thuộc tính src
                          newScript.src = script.src;
                        } else {
                          // Nếu script nội tuyến, sao chép nội dung
                          newScript.textContent = script.textContent;
                        }
                        document.body.appendChild(newScript);
                        script.remove();
                     });

                    loadix = true;
                }
                 else
                {
                     document.getElementById("html_play").style.display = "none"; loadix = true;
                }
            }
         });
    }, 100);

</script>
<div id="html_play"></div>
    <body name="backgroundX" style="background-color:@TempData["mau_background"];opacity:@TempData["opacity-body-css"]" id="custom882">
        <h1 style="color:red" id="custom883">QUY TẮC CÁCH CHUYỂN ĐỔI CÁC KÍ TỰ SANG JAPAN (hiện có) : </h1>
        <h3 style="color:blue" id="custom884">⚠ Lưu ý : đây là các quy tắc mà hệ thống đang áp dụng, nếu trong câu trả lời của bạn [Question] bạn càng gõ mà chỉ cần xuất hiện giống như ngay một trong các dấu hiệu dưới đây thì sẽ tự động convert sang ngay kí tự Japan tương ứng mà không cần thông báo trước (bạn có thể liên hệ admin qua email nếu quy tắc này có gây khó khăn cho bạn).</h3>
        <h5 style="color:purple" id="custom885">Quy tắc mặc định hệ thống (có thể sau này sẽ đổi) : chữ higarana thì bạn cứ gõ bình thường (VD : ni ➡ に, riêng chữ "in" thì nhập 2 lần n : nn ➡ ん), chữ katakana thì bạn thêm phía trước dấu bằng (VD : =ni ➡ ニ), các kiểu dạng các chữ nhỏ như tsu nhỏ, shi nhỏ, a nhỏ,...vv... thì bạn thêm phía trước 1 dấu gạch nối (nếu muốn là higarana) hoặc 2 dấu gạch nối (nếu muốn là katakana) -> VD : mi-tsu ➡ みっ; hoặc ^tt (dấu ten ten) hay ^mr (dấu maru),... Bạn hãy thử xem bên dưới và tự hình dung nhé 😎 : </h5>
        <br />
        <span name="colorX" style="color:@TempData["mau_text"]">
            @Html.Raw(TempData["rule-JP"])
        </span>
    </body>
    </head>
</html>
}
 <script src="~/lib/jquery/dist/jquery.min.js"></script>
 <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
 <script src="~/js/site.js" asp-append-version="true"></script><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> @Html.Raw(TempData["HTML-added"])