<table align="center">
    <h2 style="text-align:center">Read Number</h2>

    <h3 style="color:yellow" onclick="muaxuan()">@ViewBag.KetQua</h3>

    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)

        <tr style="height:40px">
            <td> </td>
            <td>
                <br>
                    <b>Chuỗi dãy số của bạn (mỗi phần tử cách nhau bởi Enter) : </b>
                <br>
                <textarea rows="20" cols="150" name="Chuoi" autofocus>0
100
15
20
1001
2000
12345
12345678
2023
1005008
5000</textarea>
                <br>
                <span style="color:red; font-style:italic">@ViewData["Loi"] </span>
            </td>
        </tr>

        <tr style="height:40px">
            <td></td>
            <td>
                <input type="Submit" value="Kết Quả" />
            </td>
        </tr>
    }
</table>
<br /><br /><br />
******************************************************************************************************************************************************************************

<br />
<br />
<br />

<div id="hihi">
    @Html.Raw(ViewBag.Result)
</div>