@if (TempData["ViewSiteBasic"] == "true")
{
Layout = null;
}
<script>

     var loadix = false;
    setInterval(function()
    {
        if (loadix == true) return;

         var formData = new FormData();
              formData.append("website", window.location.pathname);  formData.append("method", '@TempData["html_method_root"]');
        
         $.ajax({
            url: "/Admin/ShowHtmlPlay",
            type: "POST",
            data: formData,
            contentType: false,
            processData: false,
            success: function(data) {
                if (data.result == true)
                {
                    document.getElementById("html_play").innerHTML = data.html;

                     const container = document.getElementById("html_play");
                      const scripts = container.querySelectorAll("script");

                      scripts.forEach((script) => {
                        const newScript = document.createElement("script");
                        if (script.src) {
                          // Nếu script có src (external script), sao chép thuộc tính src
                          newScript.src = script.src;
                        } else {
                          // Nếu script nội tuyến, sao chép nội dung
                          newScript.textContent = script.textContent;
                        }
                        document.body.appendChild(newScript);
                        script.remove();
                     });

                    loadix = true;
                }
                 else
                {
                     document.getElementById("html_play").style.display = "none"; loadix = true;
                }
            }
         });
    }, 100);

</script>
<div id="html_play"></div>
<script>
    function xoaValue(ele)
    {
          document.getElementById(ele).value = "";
          document.getElementById(ele).focus();
    }
</script>
<table align="center" id="custom1072">
    <h2 style="text-align:center" id="custom1073">Replace Text - Harmony</h2>
    <h3 style="color:purple" onclick="muaxuan()" id="custom1074">@ViewBag.KetQua</h3>
    @using (Html.BeginForm())
    {
    @Html.ValidationSummary(true)
    <tr style="height:40px" id="custom1075">
        <td id="custom1076"> </td>
        <td id="custom1076">
            <br>
            <a href="#xuly" onclick="xoaValue('index')"> <b id="custom1078">Nhập số lượng index thay thế : </b></a><br />
            <br>
            <input type="number" name="txtIndex" id="index" size="10" value="3" />
            <br><br>
            <a href="#xuly" onclick="xoaValue('chuoi')"> <b id="custom1078">Nhập mẫu chuỗi gốc (chỗ cần replace phải đúng như với số lượng index trên - ví dụ nhập dấu hiệu tại đó là [i]) : </b></a><br>
            <br>
            <textarea cols="100" rows="10" id="chuoi" name="txtChuoi">[1] + [2] = [3]</textarea>
            <br><br>
            <a href="#xuly" onclick="xoaValue('input')"> <b id="custom1078">Nhập input (mỗi thành phần cách nhau bởi Enter, mỗi index cách nhau bởi Tab) : </b></a><br>
            <br>
            <textarea cols="100" rows="10" id="input" name="txtInput">1[T-PLAY]2[T-PLAY]3
5[T-PLAY]3[T-PLAY]8
10[T-PLAY]8[T-PLAY]18
100[T-PLAY]100[T-PLAY]200
12[T-PLAY]36[T-PLAY]48</textarea>
            <br>
        </td>
    </tr>
    <tr style="height:40px" id="custom1075">
        <td id="custom1076"></td>
        <td id="custom1076">
            <input type="Submit" value="Kết Quả" />
        </td>
    </tr>
    }
</table>
<br /><br />
******************************************************************************************************************************************************************************
<br />
<br />
<br />
<div id="hihi">
    @Html.Raw(ViewBag.Result) <br><br>@if(TempData["fileResult"] != null) {<a id="downloadResult" href="/POST_DataResult/@TempData["fileResult"]" download>CLICK HERE TO DOWNLOAD TXT RESULT</a>}
</div>