  <script>
function xoaValue(ele)
    {
            document.getElementById(ele).value = "";
            document.getElementById(ele).focus();
    }
    </script>
<table align="center">
    <h2 style="text-align:center">Text Convert X ???</h2>

    <h3 style="color:purple" onclick="muaxuan()">@ViewBag.KetQua</h3>

    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)

        <tr style="height:40px">
            <td></td>
            <td>
                <br>
                    <a href="#xuly" onclick="xoaValue('chuoi')"><b>Chuỗi của bạn (mỗi phần tử cách nhau bởi Enter) :</b></a>
                <br>
                    <textarea rows="20" cols="150" name="chuoi" autofocus>MyWebPlay Asp Net Core
Lê Xuân Thảo
Trần Thị Mỹ Anh
Dương Hoàng Ngọc Mỹ
Lê Thị Cẩm Tiên
Nguyễn Minh Đức</textarea>
                <br>
                <span style="color:red; font-style:italic">@ViewData["Loi"] </span>
            </td>
        </tr>

        <tr style="height:40px">
            <td></td>
            <td>
                    <br>
                        <b> START_X :</b>
                    <br>
                <input type="text" name="Start" size="100" value="(...">
            </td>
        </tr>

        <tr style="height:40px">
            <td></td>
            <td>
                    <br>
                        <b> END_Y :</b>
                    <br>
                <input type="text" name="End" size="100" value="...);">
            </td>
        </tr>

        <tr style="height:40px">
            <td></td>
            <td>
                <input type="Submit" value="Kết Quả" />
            </td>
        </tr>
    }
</table>
<br />
<br />
<br />
******************************************************************************************************************************************************************************

<br />
<br />
<br />

<div id="hihi">
    @Html.Raw(ViewBag.Result)
</div>
