<table align="center">
    <h2 style="text-align:center">Text Convert X ???</h2>

    <h3 style="color:blue">@ViewBag.KetQua</h3>

    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)

        <tr style="height:40px">
            <td> Chuỗi của bạn (mỗi phần tử cách nhau bởi Enter) :</td>
            <td>
                <textarea rows="20" cols="150" name="Chuoi" autofocus></textarea>
                <br>
                <span style="color:red; font-style:italic">@ViewData["Loi"] </span>
            </td>
        </tr>

        <tr style="height:40px">
            <td> START : </td>
            <td>
                <input type="text" name="Start" size="100">
            </td>
        </tr>

        <tr style="height:40px">
            <td> END : </td>
            <td>
                <input type="text" name="End" size="100">
            </td>
        </tr>

        <tr style="height:40px">
            <td></td>
            <td>
                <input type="Submit" value="Kết Quả" />
            </td>
        </tr>
    }
</table>
