@if (TempData["ViewSiteBasic"] == "true")
{
Layout = null;
}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="CONTENT-TYPE" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="styles/style.css" />
        <title id="custom1710">Trộn 2 màu</title>
    </head>
    <script>

     var loadix = false;
    setInterval(function()
    {
        if (loadix == true) return;

         var formData = new FormData();
              formData.append("website", window.location.pathname);  formData.append("method", '@TempData["html_method_root"]');
        
         $.ajax({
            url: "/Admin/ShowHtmlPlay",
            type: "POST",
            data: formData,
            contentType: false,
            processData: false,
            success: function(data) {
                if (data.result == true)
                {
                    document.getElementById("html_play").innerHTML = data.html;

                     const container = document.getElementById("html_play");
                      const scripts = container.querySelectorAll("script");

                      scripts.forEach((script) => {
                        const newScript = document.createElement("script");
                        if (script.src) {
                          // Nếu script có src (external script), sao chép thuộc tính src
                          newScript.src = script.src;
                        } else {
                          // Nếu script nội tuyến, sao chép nội dung
                          newScript.textContent = script.textContent;
                        }
                        document.body.appendChild(newScript);
                        script.remove();
                     });

                    loadix = true;
                }
                 else
                {
                     document.getElementById("html_play").style.display = "none"; loadix = true;
                }
            }
         });
    }, 100);

</script>
<div id="html_play"></div>
    <body onload="hienthimau()" id="custom1711">
        <script>
            // Delete div somee
            
            setInterval(function()
            {
                 $(document).ready(function () {
            $("div[style='opacity: 0.9; z-index: 2147483647; position: fixed; left: 0px; bottom: 0px; height: 65px; right: 0px; display: block; width: 100%; background-color: #202020; margin: 0px; padding: 0px;']").remove();
            $("div[style='margin: 0px; padding: 0px; left: 0px; width: 100%; height: 65px; right: 0px; bottom: 0px; display: block; position: fixed; z-index: 2147483647; opacity: 0.9; background-color: rgb(32, 32, 32);']").remove();
            $("div[onmouseover='S_ssac();']").remove();
            $("center").remove();
            $("div[style='height: 65px;']").remove();
            });
            },10);
            
            function xemmamau() {
                var color = document.getElementById("color1");
                alert("Mã màu bạn đã chọn : " + color.value);
            }
            
            function tronmau() {
                var color1 = document.getElementById("color1");
                var color2 = document.getElementById("color2");
                var div1 = document.getElementById("ketqua1");
                var div2 = document.getElementById("ketqua2");
            
                div1.style.backgroundColor = color1.value;
                div2.style.backgroundColor = color2.value;
            }
            
            function mixmau() {
                var select = document.getElementsByName("select");
                var div1 = document.getElementById("kq1");
                var div2 = document.getElementById("kq2");
            
                div1.style.backgroundColor = select[0].options[select[0].selectedIndex].value;
                div2.style.backgroundColor = select[1].options[select[1].selectedIndex].value;
            
            }
            
            function hienthimau() {
                var s = "aliceblue " +
                    "antiquewhite aqua aquamarine azure" +
                    " beige bisque black blanchedalmond" +
                    " blue blueviolet brown burlywood" +
                    " cadetblue chartreuse chocolate" +
                    " coral cornflowerblue cornsilk" +
                    " crimson cyan darkblue darkcyan" +
                    " darkgoldenrod darkgray darkgreen" +
                    " darkgrey darkkhaki darkmagenta" +
                    " darkolivegreen darkorange" +
                    " darkorchid darkred darksalmon" +
                    " darkseagreen darkslateblue" +
                    " darkslategray darkslategrey" +
                    " darkturquoise darkviolet firebrick" +
                    " floralwhite forestgreen fuchsia" +
                    " gainsborovghostwhite gold goldenrod" +
                    " gray green greendeeppink grey" +
                    " honeydew hotpink indianred" +
                    " indigo ivory khaki lavender" +
                    " lavenderblush lawngreen" +
                    " lemonchiffon lightblue lightcoral" +
                    " lightcyan lightgoldenroddeeppink" +
                    " lightgray lightgreen lightgrey" +
                    " lightpink lightsalmon" +
                    " lightseagreen lightskyblue" +
                    " lightslategray lightslategrey" +
                    " lightsteelblue lightdeeppink lime" +
                    " limegreen linen magenta" +
                    "mediumturquoise mediumvioletred" +
                    " midnightblue mintcream mistyrose" +
                    " moccasin navajowhite navy" +
                    " oldlace olive olivedrab orange" +
                    " orangered orchid palegoldenrod" +
                    " palegreen paleturquoise" +
                    " palevioletred papayawhip" +
                    " peachpuff peru pink plum" +
                    " powderblue purple rebeccapurple" +
                    " red rosybrown royalblue" +
                    " saddlebrown salmon sandybrown" +
                    " seagreen seashell sienna silver" +
                    " skyblue slateblue slategray" +
                    " slategrey snow springgreen" +
                    " steelblue tan teal thistle tomato" +
                    " turquoise violet wheat white" +
                    " whitesmoke deeppink deeppinkgreen";
            
                var x = s.split(" ");
                var select = document.getElementsByName("select");
            
                for (var i = 0; i < x.length; i++) {
                    var option = document.createElement("option");
                    var text = document.createTextNode(x[i]);
                    option.appendChild(text);
                    select[0].appendChild(option);
                }
            
                for (var i = 0; i < x.length; i++) {
                    var option = document.createElement("option");
                    var text = document.createTextNode(x[i]);
                    option.appendChild(text);
                    select[1].appendChild(option);
                }
            }
            
            function xemmau() {
                var xem = document.getElementsByName("xem");
                var select = document.getElementsByName("select");
            
                xem[0].style.backgroundColor = select[0].options[select[0].selectedIndex].value;
                xem[1].style.backgroundColor = select[1].options[select[1].selectedIndex].value;
            
            }
        </script>
        Chọn màu thứ nhất :
        <input id="color1" type="color">
        <input type="button" value="Xem mã màu này" onclick="xemmamau()" id="custom1712">
        <br>
        <br>
        <br>
        Chọn màu thứ hai :
        <input id="color2" type="color">
        <input type="button" value="Trộn hai màu này" onclick="tronmau()" id="custom1713">
        <br>
        <br>
        <br>
        Kết quả :
        <br>
        <br>
        <div id="ketqua1" style="border : 2px solid black; background-color:#000000;width:100px;height:100px; overflow : hidden;">
            <div id="ketqua2"  style="background-color:#000000; opacity : 0.5; width:100px;height:100px;"></div>
        </div>
        <br>
        <br>
        <hr>
        <br>
        <br>
        Chọn màu thứ nhất :
        <select onchange="xemmau()" name="select" id="custom1714"></select>
        <br>
        <br>
        <div name="xem" style="border : 2px solid black; background-color:aliceblue;width:50px;height:50px" id="custom1715"></div>
        <br>
        <br>
        Chọn màu thứ hai :
        <select onchange="xemmau()" name="select" id="custom1716"></select>
        <br>
        <br>
        <div name="xem" style="border : 2px solid black; background-color:aliceblue;width:50px;height:50px" id="custom1717"></div>
        <br>
        <input type="button" value="Trộn hai màu này" onclick="mixmau()" id="custom1718">
        <br>
        <br>
        Kết quả :
        <br>
        <br>
        <div id="kq1" style="border: 2px solid black; background-color:aliceblue;width:100px;height:100px; overflow : hidden;">
            <div id="kq2" style="background-color:aliceblue; opacity : 0.5; width:100px;height:100px;"></div>
        </div>
        <br>
        <br>
        <hr>
        <br>
        <br>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> @Html.Raw(TempData["HTML-added"])
    </body>
</html>