  <script>
      function chonX()
      {
          if (document.getElementById("chon").options.selectedIndex == 0)
          {
              document.getElementById("textboxX").style.display = "inline-block";
              document.getElementById("preX").style.display = "none";
          }
          else
          {
              document.getElementById("preX").style.display = "inline-block";
              document.getElementById("textboxX").style.display = "none";
          }
      }
  </script>
   <select id="chon" onchange="chonX()">
                    <option>Xem note dưới dạng textbox</option>
                    <option>Xem note dưới dạng lable</option>
   </select>
   <br /><br />
   <h3>@Html.ActionLink("Chỉnh sửa Text Note", "EditTextNote")</h3>
 <br />
<table align="center">
    <h2 style="text-align:center">Text View Note File</h2>
        <tr style="height:40px">
            <td>
            </td>
            <td>
                <br>
                <br>
                <hr /><br />
                    <textarea id="textboxX" rows="500" cols="150" name="txtText" readonly placeholder="Nội dung view text note file hiện đang trống..." autofocus>@ViewBag.Text</textarea>
                    <pre id="preX" style="color:yellow; font-size:22px; display:none">@ViewBag.Text</pre>
                    <br /><hr /><br /><br />
            </td>
        </tr>
</table>
<br />
         <h3>@Html.ActionLink("Chỉnh sửa Text Note", "EditTextNote")</h3>