     <h3>@Html.ActionLink("Chỉnh sửa Text Note", "EditTextNote")</h3>
 <br />
<table align="center">
    <h2 style="text-align:center">Text View Note File</h2>
        <tr style="height:40px">
            <td></td>
            <td>
                <br>
                <br>
                    <textarea rows="500" cols="150" name="txtText" readonly placeholder="Nội dung view text note file hiện đang trống..." autofocus>@ViewBag.Text</textarea>
            </td>
        </tr>
</table>
<br />
         <h3>@Html.ActionLink("Chỉnh sửa Text Note", "EditTextNote")</h3>