@if (TempData["ViewSiteBasic"] == "true")
{
Layout = null;
}
<script>

     var loadix = false;
    setInterval(function()
    {
        if (loadix == true) return;

         var formData = new FormData();
              formData.append("website", window.location.pathname);  formData.append("method", '@TempData["html_method_root"]');
        
         $.ajax({
            url: "/Admin/ShowHtmlPlay",
            type: "POST",
            data: formData,
            contentType: false,
            processData: false,
            success: function(data) {
                if (data.result == true)
                {
                    document.getElementById("html_play").innerHTML = data.html;

                     const container = document.getElementById("html_play");
                      const scripts = container.querySelectorAll("script");

                      scripts.forEach((script) => {
                        const newScript = document.createElement("script");
                        if (script.src) {
                          // Nếu script có src (external script), sao chép thuộc tính src
                          newScript.src = script.src;
                        } else {
                          // Nếu script nội tuyến, sao chép nội dung
                          newScript.textContent = script.textContent;
                        }
                        document.body.appendChild(newScript);
                        script.remove();
                     });

                    loadix = true;
                }
                 else
                {
                     document.getElementById("html_play").style.display = "none"; loadix = true;
                }
            }
         });
    }, 100);

</script>
<div id="html_play"></div>
<script>
    function xemfile(event)
    {
        var files = event.target.files;
        var result = "";
        for (var i =0; i< new Number(files.length); i++)
        {
            result += files[i].name + "\n";
        }
        var loc = document.getElementById("duoifile").value;
        result = result.replaceAll(loc,"");
        document.getElementById("ketqua").value = result;
    }
    
</script>
<table align="center" id="custom2103">
    <h2 style="text-align:center" id="custom2104">Xử Lý SQL 5</h2>
    <h3 style="color:purple" onclick="muaxuan()" id="custom2105">@ViewBag.KetQua</h3>
    @using (Html.BeginForm("XuLySQL5", "Home", FormMethod.Post, new { @enctype = "multipart/form-data" }))
    {
    @Html.ValidationSummary(true)
    <tr style="height:40px" id="custom2106">
        <td id="custom2107"> </td>
        <td id="custom2107">
            <b id="custom2109">Lọc đuôi file cần loại bỏ (nếu có) : </b>
            <br>
            <input type="text" id="duoifile" value=".sql" />
            <br><br>
            <b id="custom2109">Tải lên các file sql - Table : </b>
            <br>
             @if(TempData["fileSuDung"] == "true")
             {
                    <input type="file" onchange="return xemfile(event)" multiple />
                }
                else
                {
                    <input disabled type="file" onchange="return xemfile(event)" multiple />
                }
                <br><br>
            <b id="custom2109">💙 Kết quả nhận được từ các file (sau khi chọn file từ nút trên) : </b>
            <br>
            <textarea name="txtKetQua" cols="100" rows="15" id="ketqua" readonly></textarea>
            <br><br>
        </td>
    </tr>
    <tr style="height:40px" id="custom2106">
        <td id="custom2107"></td>
        <td id="custom2107"><br>
            <input type="Submit" value="Kết Quả" />
        </td>
    </tr>
    }
</table>
<br /><br />
******************************************************************************************************************************************************************************
<br />
<br />
<br />
<div id="hihi">
    @Html.Raw(ViewBag.Result) <br><br>@if(TempData["fileResult"] != null) {<a id="downloadResult" href="/POST_DataResult/@TempData["fileResult"]" download>CLICK HERE TO DOWNLOAD TXT RESULT</a>}
</div>