<table align="center">
    <h2 style="text-align:center">Xử Lý SQL 8</h2>

    <h3 style="color:yellow" onclick="muaxuan()">@ViewBag.KetQua</h3>

    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)

        <tr style="height:40px">
            <td> </td>
            <td>
                <b>Nhập tên table : </b>
                <br>
                <input type="text" name="txtTable" value="User" />
                <br><br>
                <b>Nhập toàn bộ fields + type hiện có (lấy từ script sql file - tách nhau bởi Enter) : </b>
                <br>
                <textarea name="txtFields" cols="100" rows="12">Column1 nvarchar(10)
Column2 int
Column3 money
Column4 varchar(5)
Column5 datetime</textarea>
            </td>
        </tr>
      
        <tr style="height:40px">
            <td></td>
            <td><br>
                <input type="Submit" value="Kết Quả" />
            </td>
        </tr>
    }
</table>
<br /><br />

******************************************************************************************************************************************************************************

<br />
<br />
<br />

<div id="hihi">
                @Html.Raw(ViewBag.Result)
</div>
