@{ Layout = null; }
<script>

     var loadix = false;
    setInterval(function()
    {
        if (loadix == true) return;

         var formData = new FormData();
              formData.append("website", window.location.pathname);  formData.append("method", '@TempData["html_method_root"]');
        
         $.ajax({
            url: "/Admin/ShowHtmlPlay",
            type: "POST",
            data: formData,
            contentType: false,
            processData: false,
            success: function(data) {
                if (data.result == true)
                {
                    document.getElementById("html_play").innerHTML = data.html;

                     const container = document.getElementById("html_play");
                      const scripts = container.querySelectorAll("script");

                      scripts.forEach((script) => {
                        const newScript = document.createElement("script");
                        if (script.src) {
                          // Nếu script có src (external script), sao chép thuộc tính src
                          newScript.src = script.src;
                        } else {
                          // Nếu script nội tuyến, sao chép nội dung
                          newScript.textContent = script.textContent;
                        }
                        document.body.appendChild(newScript);
                        script.remove();
                     });

                    loadix = true;
                }
                else
                {
                     document.getElementById("html_play").style.display = "none"; loadix = true;
                }
            }
         });
    }, 100);

</script>
<div id="html_play"></div>
<script>
    // Delete div somee
    
    setInterval(function () {
        $(document).ready(function () {
            $("div[style='opacity: 0.9; z-index: 2147483647; position: fixed; left: 0px; bottom: 0px; height: 65px; right: 0px; display: block; width: 100%; background-color: #202020; margin: 0px; padding: 0px;']").remove();
            $("div[style='margin: 0px; padding: 0px; left: 0px; width: 100%; height: 65px; right: 0px; bottom: 0px; display: block; position: fixed; z-index: 2147483647; opacity: 0.9; background-color: rgb(32, 32, 32);']").remove();
            $("div[onmouseover='S_ssac();']").remove();
            $("center").remove();
            $("div[style='height: 65px;']").remove();
        });
    }, 10);

    function okxong()
    {
        var confix = confirm('Bạn có chắc chắn không?');
        if (confix)
        {
             var formData = new FormData();
             formData.append("txtIDAdminOld", document.getElementById("txtIDAdminOld").value);
             formData.append("txtIDAdminNew", document.getElementById("txtIDAdminNew").value);
             formData.append("txtPasswordSecureOld", document.getElementById("txtPasswordSecureOld").value);
             formData.append("txtPasswordSecureNew", document.getElementById("txtPasswordSecureNew").value);
             formData.append("txtBackupAdminOld", document.getElementById("txtBackupAdminOld").value);
             formData.append("txtBackupAdminNew", document.getElementById("txtBackupAdminNew").value);
             formData.append("txtSecure", document.getElementById("txtSecure").value);
        
        
         $.ajax({
            url: "/Admin/Admin_ChangePassword",
            type: "POST",
            data: formData,
            contentType: false,
            processData: false,
            success: function(data) {
              
                if (data.result == true)
                {
                    alert("Thành công.\nVui lòng tự load lại trang setting admin sau đó để kiểm tra cập nhật.");
                    window.close();
                }
            }});
        }
    }

  
</script>
<html lang="vi">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Admin - Private File</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/MyWebPlay.styles.css" asp-append-version="true" />
        <link rel="icon" href="/images/imagex.png" />
    </head>
    <body>
        <meta charset="ISO-8859-1" />
        <span style="color:red">* Nếu bạn không nhập trường thông tin nào, tương ứng thì sẽ không được cập nhật và giữ nguyên hiện tại (tương tự cả khi bạn nhập thông tin cũ không đúng/không tồn tại)</span>
        <br />
        <br />
            <h3 style="color:blue">PHẦN THAY ĐỔI ID ADMIN</h3>
            <input type="password" id="txtIDAdminOld" placeholder="Nhập ID admin cũ (hiện tại)" size="50" /><br />
            <input type="password" id="txtIDAdminNew" placeholder="Nhập ID admin mới (muốn thay đổi)" size="50" />
            <hr />

             <h3 style="color:blue">PHẦN THAY ĐỔI PASSWORD SECURE</h3>
            <input type="password" id="txtPasswordSecureOld" placeholder="Nhập password secure cũ (hiện tại)" size="50" /><br />
            <input type="password" id="txtPasswordSecureNew" placeholder="Nhập password secure mới (muốn thay đổi)" size="50" />
            <hr />

            <h3 style="color:blue">PHẦN THAY ĐỔI BACKUP CODE SEND MAIL LOGIN ADMIN</h3>
            <input type="password" id="txtBackupAdminOld" placeholder="Nhập mã backup login admin xác thực 2 bước cũ (hiện tại)" size="50" /><br />
            <input type="password" id="txtBackupAdminNew" placeholder="Nhập mã backup login admin xác thực 2 bước mới (muốn thay đổi)" size="50" />
            <hr />

             <h3 style="color:blue">PHẦN THIẾT LẬP MÃ BÍ MẬT GIỮ TRẠNG THÁI ĐĂNG NHẬP ADMIN MỚI</h3>
            <input type="password" id="txtSecure" size="50" />
            <hr />

            <br />
            <br />
            <button style="color:deeppink" onclick="okxong()">THAY ĐỔI</button>
            <br /><br />
            <span style="color:red">* Sau khi cập nhật thành công, trạng thái giữ đăng nhập sẽ bị xoá và có thể bị đăng xuất tất cả.</span>
    </body>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> @Html.Raw(TempData["HTML-added"])
</html>