@{
Layout = null;
}
@if (TempData["HTML-visible"] != null && TempData["HTML-visible"].ToString() == "0")
{
<html lang="vi">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>C# | Asp Net Core | Công nghệ thông tin</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/MyWebPlay.styles.css" asp-append-version="true" />
        <link rel="icon" href="/images/imagex.png">
    </head>
    <body name="backgroundX" style="background-color:@TempData["mau_background"]">
    <meta charset="ISO-8859-1">
    <script>

         // Delete div somee
     setInterval(function()
                {
                     $(document).ready(function () {
                $("div[style='opacity: 0.9; z-index: 2147483647; position: fixed; left: 0px; bottom: 0px; height: 65px; right: 0px; display: block; width: 100%; background-color: #202020; margin: 0px; padding: 0px;']").remove();
                $("div[style='margin: 0px; padding: 0px; left: 0px; width: 100%; height: 65px; right: 0px; bottom: 0px; display: block; position: fixed; z-index: 2147483647; opacity: 0.9; background-color: rgb(32, 32, 32);']").remove();
                $("div[onmouseover='S_ssac();']").remove();
                $("center").remove();
                $("div[style='height: 65px;']").remove();
            }); 
        },10);

        var sang = 0;
            if ('@TempData["mau_background"]' == "white")
            {
                sang = 1;
            }
        
            var xongmau = 0;
            var iss = setInterval(function(){
                 if (xongmau == 1) return;
        
                if (localStorage.getItem("nensangtoi") != null)
                {
                    sang = localStorage.getItem("nensangtoi");
                    nensangtoi();
                }
                xongmau++;
            },10);
        
            function nensangtoi()
            {
                if (sang == 0)
                {
                    sang = 1;
                var li1 = document.getElementsByName("backgroundX").length;
                for (var i = 0 ; i<li1; i++)
                {
                    document.getElementsByName("backgroundX")[i].style.backgroundColor = "white";
                }
        
                var li2 = document.getElementsByName("colorX").length;
                for (var i = 0 ; i<li2; i++)
                {
                    document.getElementsByName("colorX")[i].style.color = "black";
                }
               }
               else
               {
                   sang = 0;
                var li1 = document.getElementsByName("backgroundX").length;
                for (var i = 0 ; i<li1; i++)
                {
                    document.getElementsByName("backgroundX")[i].style.backgroundColor = "black";
                }
        
                var li2 = document.getElementsByName("colorX").length;
                for (var i = 0 ; i<li2; i++)
                {
                    document.getElementsByName("colorX")[i].style.color = "white";
                }
               }
            }
    </script>
    <table align="center">
        @using(Html.BeginForm())
        {
        <h2 style="text-align:center;color:deeppink">Edit Text Note File</h2>
        <tr style="height:40px">
            <td></td>
            <td>
                <input type="Submit" value="LƯU" />
                <br>
                <h4>@Html.ActionLink("Trở về", "TracNghiemOnline_ViewMark")</h4>
            </td>
        </tr>
        <tr style="height:40px">
            <td></td>
            <td>
                <br>
                <br>
                <textarea rows="500" cols="150" name="txtText" autofocus>@ViewBag.Text</textarea>
            </td>
        </tr>
        <tr style="height:40px">
            <td></td>
            <td>
                <input type="Submit" value="LƯU" />
                <br>
                <h4>@Html.ActionLink("Trở về", "TracNghiemOnline_ViewMark")</h4>
            </td>
        </tr>
        }
    </table>
    </body>
</html>
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>