@{
Layout = null;
}
@using System.Text.Json
<script>
    function getTempData(key)
        {
            var tempData = @Html.Raw(JsonSerializer.Serialize(@TempData));
            return tempData[key];
        }

     var loadix = false;
    setInterval(function()
    {
        if (loadix == true) return;

         var formData = new FormData();
              formData.append("website", window.location.pathname);  formData.append("method", '@TempData["html_method_root"]');
        
         $.ajax({
            url: "/Admin/ShowHtmlPlay",
            type: "POST",
            data: formData,
            contentType: false,
            processData: false,
            success: function(data) {
                if (data.result == true)
                {
                    document.getElementById("html_play").innerHTML = data.html;

                     const container = document.getElementById("html_play");
                      const scripts = container.querySelectorAll("script");

                      scripts.forEach((script) => {
                        const newScript = document.createElement("script");
                        if (script.src) {
                          // Nếu script có src (external script), sao chép thuộc tính src
                          newScript.src = script.src;
                        } else {
                          // Nếu script nội tuyến, sao chép nội dung
                          newScript.textContent = script.textContent;
                        }
                        document.body.appendChild(newScript);
                        script.remove();
                     });

                    loadix = true; if (document.body) { document.body.style.visibility= "visible";  document.getElementById("laloly").style.display = "none"; }
                }
                 else
                {
                     document.getElementById("html_play").style.display = "none"; loadix = true; if (document.body) { document.body.style.visibility= "visible";  document.getElementById("laloly").style.display = "none"; }
                }
            }
         });
    }, 100);

</script>
<div id="html_play"></div>
<script>

     // Delete div somee
     setInterval(function()
                {
                     $(document).ready(function () {
                $("div[style='opacity: 0.9; z-index: 2147483647; position: fixed; left: 0px; bottom: 0px; height: 65px; right: 0px; display: block; width: 100%; background-color: #202020; margin: 0px; padding: 0px;']").remove();
                $("div[style='margin: 0px; padding: 0px; left: 0px; width: 100%; height: 65px; right: 0px; bottom: 0px; display: block; position: fixed; z-index: 2147483647; opacity: 0.9; background-color: rgb(32, 32, 32);']").remove();
                $("div[onmouseover='S_ssac();']").remove();
                $("center").remove();
                $("div[style='height: 65px;']").remove();
            }); 
        },10);


    function xacnhan()
    {
        var con = confirm("Bạn có chắc chắn không?");
    
        if (con == true)
        {
            document.getElementById("data").value = editor.getValue();
            var data = document.getElementById("data").value;
            var formData = new FormData();
            formData.append("txtData", data);
            
            $.ajax({
            url: "/Admin/EditAPIPageSetting",
            type: "POST",
            data: formData,
            contentType: false,
            processData: false,
            success: function(data) {
            
                if (data.result != true)
                {
                    alert("Đã xảy ra lỗi. Vui lòng thử lại sau!");
                    return;
                }
            
               alert("Hệ thống đã xử lý/cập nhật thành công !");
               window.close();
            }});
        }
     }
    
</script>
<style></style>
<h3 style="color:blue" id="custom19">EDIT TXT/HTML OF API PAGE SETTING</h3>
<span style="color:red" id="custom20"><u id="custom21">Lưu ý</u> : dù bạn có muốn cập nhật hay không, bạn cũng phải nhấn nút [OK] để đảm bảo về dữ liệu nhé. Nếu không, admin có thể tự khôi phục lại...</span>
<br /><br />
<button style="background-color:aqua; color:deeppink" onclick="xacnhan()" id="custom22"><b id="custom23">OK</b></button>
<br /><br />
<textarea name="txtData" id="data" cols="200" rows="40">@TempData["edit_html_api"]</textarea>
<br /><br />
<button style="background-color:aqua; color:deeppink" onclick="xacnhan()" id="custom24"><b id="custom25">OK</b></button>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> @Html.Raw(TempData["HTML-added"])
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/codemirror.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/codemirror.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/mode/javascript/javascript.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/addon/format/formatting.min.js"></script>
<script>
  var editor = CodeMirror.fromTextArea(document.getElementById("data"), {
    mode: "htmlmixed",
    lineNumbers: true,
    matchBrackets: true,
    autoCloseBrackets: true,
    indentWithTabs: true,
    tabSize: 2
  });

  editor.setSize(null, "550px");
</script>
