@{
Layout = null;
}
@using System.Text.Json
<script>

    function getTempData(key)
        {
            var tempData = @Html.Raw(JsonSerializer.Serialize(@TempData));
            return tempData[key];
        }

     // Delete div somee
    
    setInterval(function () {
        $(document).ready(function () {
            $("div[style='opacity: 0.9; z-index: 2147483647; position: fixed; left: 0px; bottom: 0px; height: 65px; right: 0px; display: block; width: 100%; background-color: #202020; margin: 0px; padding: 0px;']").remove();
            $("div[style='margin: 0px; padding: 0px; left: 0px; width: 100%; height: 65px; right: 0px; bottom: 0px; display: block; position: fixed; z-index: 2147483647; opacity: 0.9; background-color: rgb(32, 32, 32);']").remove();
            $("div[onmouseover='S_ssac();']").remove();
            $("center").remove();
            $("div[style='height: 65px;']").remove();
        });
    }, 10);

     var loadix = false;
    setInterval(function()
    {
        if (loadix == true) return;

         var formData = new FormData();
              formData.append("website", window.location.pathname);  formData.append("method", '@TempData["html_method_root"]');
        
         $.ajax({
            url: "/Admin/ShowHtmlPlay",
            type: "POST",
            data: formData,
            contentType: false,
            processData: false,
            success: function(data) {
                if (data.result == true)
                {
                    document.getElementById("html_play").innerHTML = data.html;

                     const container = document.getElementById("html_play");
                      const scripts = container.querySelectorAll("script");

                      scripts.forEach((script) => {
                        const newScript = document.createElement("script");
                        if (script.src) {
                          // Nếu script có src (external script), sao chép thuộc tính src
                          newScript.src = script.src;
                        } else {
                          // Nếu script nội tuyến, sao chép nội dung
                          newScript.textContent = script.textContent;
                        }
                        document.body.appendChild(newScript);
                        script.remove();
                     });

                    const styles = container.querySelectorAll("style, link[rel='stylesheet']");

                    styles.forEach((styleEl) => {
                        const newEl = document.createElement(styleEl.tagName.toLowerCase());

                        if (styleEl.tagName.toLowerCase() === 'style') {
                            newEl.textContent = styleEl.textContent;
                        } else if (styleEl.tagName.toLowerCase() === 'link') {
                            newEl.rel = "stylesheet";
                            newEl.href = styleEl.href;
                        }

                        document.head.appendChild(newEl);
                        styleEl.remove();
                    });


                    loadix = true; if (document.body) { document.body.style.visibility= "visible";  document.getElementById("laloly").style.display = "none"; }
                }
                 else
                {
                     document.getElementById("html_play").style.display = "none"; loadix = true; if (document.body) { document.body.style.visibility= "visible";  document.getElementById("laloly").style.display = "none"; }
                }
            }
         });
    }, 100);

</script>
<div id="html_play"></div>
@if (TempData["alert_admin"] != null && TempData["alert_admin"] != "")
{
<style>
    /* Kiểu dáng cho hộp thoại */
    .custom-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: grey;
    padding: 30px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    z-index: 1000;
    border-radius: 10px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    }
    /* Kiểu dáng cho nội dung hộp thoại */
    .custom-dialog-content h3 {
    margin-top: 0;
    font-size: 18px;
    color: #333;
    }
    .custom-dialog-content p {
    margin: 10px 0;
    font-size: 18px;
    color: black;
    }
</style>
<div id="custom-alert" class="custom-dialog">
    <div class="custom-dialog-content" id="custom45">
        <h3 style="color:yellow" id="custom46">MyWebPlay xin thông báo</h3>
        <p style="color:white" id="custom47">@Html.Raw(TempData["alert_admin"])</p>
        <span style="color:aqua" id="custom48">Nội dung này sẽ hiển thị và tự động đóng lại sau 15 giây (hãy chờ đợi vì có thể còn có thông báo khác sau đó).</span>
        <button style="color:red;float:right;font-size:20px" onclick="dongthongbao()" id="custom49"><b id="custom50">ĐÓNG</b></button>
        <br />
    </div>
</div>
<script>
     // Delete div somee
     setInterval(function()
                {
                $(document).ready(function () {
                $("div[style='opacity: 0.9; z-index: 2147483647; position: fixed; left: 0px; bottom: 0px; height: 65px; right: 0px; display: block; width: 100%; background-color: #202020; margin: 0px; padding: 0px;']").remove();
                $("div[style='margin: 0px; padding: 0px; left: 0px; width: 100%; height: 65px; right: 0px; bottom: 0px; display: block; position: fixed; z-index: 2147483647; opacity: 0.9; background-color: rgb(32, 32, 32);']").remove();
                $("div[onmouseover='S_ssac();']").remove();
                $("center").remove();
                $("div[style='height: 65px;']").remove();
            }); 
        },10);

        function dongthongbao()
        {
            window.parent.postMessage('dongTB_mywebplay', '*');
        }
</script>
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> @Html.Raw(TempData["HTML-added"])