@{
    Layout = null;
}

<script>

    var t = 0;
    setInterval(function(){

        if (t == 1)
        return;

       document.getElementById("IDadmin").value = localStorage.getItem("AdminSetting-ID");
       document.getElementById("PASSadmin").value = localStorage.getItem("AdminSetting-Password");

       t = 1;
    },10);

    // Delete div somee

        setInterval(function()
        {
             $(document).ready(function () {
        $("div[style='opacity: 0.9; z-index: 2147483647; position: fixed; left: 0px; bottom: 0px; height: 65px; right: 0px; display: block; width: 100%; background-color: #202020; margin: 0px; padding: 0px;']").remove();
        $("div[style='margin: 0px; padding: 0px; left: 0px; width: 100%; height: 65px; right: 0px; bottom: 0px; display: block; position: fixed; z-index: 2147483647; opacity: 0.9; background-color: rgb(32, 32, 32);']").remove();
        $("div[onmouseover='S_ssac();']").remove();
        $("center").remove();
        $("div[style='height: 65px;']").remove();
    });
        },1);

        function rememberMe()
        {
            if (document.getElementById("ghinho").checked == true)
            {
                localStorage.setItem("AdminSetting-ID", document.getElementById("IDadmin").value);
                localStorage.setItem("AdminSetting-Password", document.getElementById("PASSadmin").value);
            }
            else
            {
                localStorage.removeItem("AdminSetting-ID");
                localStorage.removeItem("AdminSetting-Password");
            }
        }

</script>
<html lang="vi">
<head>
     <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Đăng nhập Admin - Setting</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MyWebPlay.styles.css" asp-append-version="true" />
        <link rel="icon" href="/images/imagex.png">
        </head>
        <body>
    <meta charset="ISO-8859-1">
<h2 style="color:red">ĐĂNG NHẬP ADMIN - SETTING WEB</h2><br />

@using(Html.BeginForm())
 {
<b name="colorX">Nhập ID admin : </b><input id="IDadmin" name="txtID" type="password" size="100" autofocus />
<br /><br />
<b>Nhập mật khẩu : </b><input id="PASSadmin" name="txtPassword" type="password" size="100" />
<br /><br />
<input type="checkbox" id="ghinho" onchange="rememberMe()" /> <b>Ghi nhớ thông tin? (nếu sau này muốn huỷ, hãy tick checkbox này và tắt nó lại lần nữa)</b>
<br /><br />
<input style="font-weight:bolder" type="submit" value="Đăng nhập" />
 }
 </body>
 </html>