@{
    Layout = null;
}
<html lang="vi">
<head>
    @if (TempData["OffRandomTab"] == "true")
    {
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>C# | Asp Net Core | Công nghệ thông tin</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MyWebPlay.styles.css" asp-append-version="true" />
        <link rel="icon" href="/images/imagex.png">
    }
    else
    {
     <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@TempData["Tab_Tittle"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MyWebPlay.styles.css" asp-append-version="true" />
    <link rel="icon" href="@TempData["Tab_Image"]">
    }
<script>
     var tim = 0;
     setInterval(myFay, 1000);

        function myFay()
        {
            tim++;
            if (tim == 2)
            document.getElementById("ok").click();
        }
</script>
 
           <div style="color:@TempData["mau_text"]">
<img src="/Image_Play/Google.png" width="100%" height="100%">
</div>

<div style="display:none">
 @using (Html.BeginForm(TempData["Name"].ToString(), "Home", FormMethod.Post, new { @enctype = "multipart/form-data" }))
 {
      @Html.ValidationSummary(true)

     @Html.Raw(TempData["Data"]);

     <input id="ok" style="font-weight:bolder" type="Submit" value="OK SEND" />
 }
 </div>
 </head>
</html>